<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        #h2
        {
            font-family:Cambria;
            color:blue;
            margin-top: 20px;
        }

        #p1
        {
            font-size: 20px;
            font-family:Cambria;
        }

        #b1
        {
            background-color: antiquewhite;
        }
    </style>
</head>
<body id="b1">
    {% extends 'navbar.html' %}

{% block content %}

     <h2 id="h2"><b>About Woolen Store</b></h2>

     <br>
    <p id="p1">Wool is the textile fibre obtained from sheep and other animals, including cashmere and mohair from goats, qiviut from muskoxen, hide and fur clothing from bison, angora from rabbits, and other types of wool from camelids. Wool consists of protein together with a small percentage of lipids.</p>


    <p id="p1">Woolen Door Hanging Toran is a fine range of Religious Wall Hanging. This is widely appreciated for their superior work and beauty. Use of vibrant colors and original designs attracts and appeases the aesthetic tastes of all customers. We make these from superior quality woolen that makes our products more durable and gives them flawless finish.</p>


{% endblock %}
</body>
</html>